extends layout

block content
  script(defer src="javascripts/init.js" type="module")
  div(class="header")
    h1= "Where is Waldo?"
  div(class="body")
    div(class="scoreboard")
      h2= "High Score"
    div(class="image")
      h2= "Finde den richtigen Charakter!"
      div(id="waldo")
        img(src="images/sp.jpg" height="400px")
